@import "tailwindcss";

@theme inline {
	--color-text-primary: #333;
	--color-text-secondary: #666;
	--color-border: #e0e0e0;
	--color-border-hover: #d0d0d0;
	--color-hover: #e8e8e8;
	--color-night: #f1f1f1;
	--color-bg-main: #f8f7f6;
	--color-bg-surface: #f2f1f0;
	--color-bg-surface-hover: #e8e8e8;
	--color-bg-secondary: #e8e8e8;
	--color-bg-component: #e0e0e0;
	--color-bg-placeholder: #ccc;
}

body {
	background: var(--color-bg-main);
	color: var(--color-text-primary);
	font-family: Arial, Helvetica, sans-serif;
}
